.postForm {
  background: var(--color-card);
  padding: 2rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

.postForm .form-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;
  padding: 1.6rem;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}

.postForm .form-top .postBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1rem;
}
.postForm .form-top .postBox textarea {
  color: var(--color-primary);
  width: 100%;
  background: transparent;
  resize: none;
  border: none;
}

.postForm .form-top .postBox .postedImg {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
  font-size: 2.25rem;
}
.postForm .form-top .postBox .postedImg img {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.post-categories {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.6rem;
}
.post-categories div {
  display: flex;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
}
.post-categories input {
  display: none;
}

.post-categories div:hover {
  color: var(--color-primary);
}
