nav {
  height: max-content;
  position: sticky;
  /* position: fixed; */
  top: 0;
  background-color: var(--color-card);
  color: var(--color-primary);
  padding: 1rem 2rem;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  padding: 1rem 2rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left,
nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
