nav {
  position: sticky;
  /* position: fixed; */
  top: 0;
  background-color: var(--color-card);
  color: var(--color-primary);
  z-index: 999;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.4rem;
  gap: 2rem;
}

.nav-container a {
  color: var(--color-primary);
  font-size: 1.6rem;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-primary);
}

.nav-searchbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  padding: 5px 10px;
  border: 1px solid var(--color-primary);
}

.nav-searchbar input {
  color: var(--color-primary);
  background: transparent;
}

@media (max-width: 768px) {
  .nav-searchbar {
    border: none;
  }
  .nav-searchbar input {
    display: none;
  }
  .nav-right .user {
    display: none;
  }
  .nav-left,
  .nav-right {
    gap: 20px;
  }
}
