@import "./reset.css";

:root {
  --color-primary: #6c63ff;
  --text-color: black;
  --color-bg: rgb(236, 236, 236);
  --color-card: white;
  --color-soft: #aaaaaa;
  --color-border: lightgray;
  --color-red: red;
}
.darkmode {
  --text-color: white;
  --color-bg: black;
  --color-card: #111111;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 991px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: var(--text-color);
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user img {
  width: 33px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.user h4 {
  color: var(--color-primary);
}
body {
  background: var(--color-bg);
  color: var(--color-soft);
  font-size: 1.6rem;
  overflow-x: hidden;
}

small,
p {
  color: var(--color-soft);
}

.btn {
  padding: 1rem 2.6rem;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border: none;
  background-color: white;
}
.btn:hover {
  opacity: 0.7;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}
.btn-red {
  background: var(--color-red);
  color: white;
}

main {
  display: grid;
  grid-template-columns: 20% 54% 23%;
  gap: 3%;
  width: 100%;
}

@media (max-width: 1024px) {
  main {
    grid-template-columns: 8% 56% 32%;
  }
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 100%;
  }
  .container {
    width: 94%;
  }
}
